.btn-department {
  position: relative;
  display: inline-flex;
  padding: 10px 30px;
  background: #43475d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
}
.btn-department span {
    position: relative;
    z-index: 1;
}
.btn-department::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform:  translate(-50%,-50%);
  width:  0;
  height: 0;
  border-radius: 50%;
  background: #2196f3;
  transition:  width 0.5s, height 0.5s;
}
.btn-department:hover:before{
    width: 300px;
    height: 300px;
}