ul {
  padding: 0;
  margin: 0;
}
/* Reset Css */

header {
  height: auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  height: 150px;
}

@media only screen and (max-width: 576px) {
  header .logo img {
    height: 100px;
  }
}

/* nav */

nav.menu {
  height: 60px;
  background: #32cd32;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-bar-title {
  font-size: 1.2rem;
  display: none;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: auto;
  height: 60px;

  -webkit-transition: visible 0.5s ease;
  -moz-transition: visible 0.5s ease;
  -o-transition: visible 0.5s ease;
  transition: visible 0.5s ease;
}
.nav-menu li {
  padding: 1rem;
  transition: 0.3s;
}

.nav-menu li a:not(.dropdown-item) {
  text-decoration: none;
  color: #fff;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
  border-radius: 10px;
}

#marker {
  position: absolute;
  /* left:0; */
  bottom: 0;
  background: #fff;
  height: 5px;
  width: 0;
  transition: 0.3s;
}
/* Rotate first bar */
.change .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

/* Fade out the second bar */
.change .line2 {
  opacity: 0;
}

/* Rotate last bar */
.change .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -7px);
}

@media only screen and (max-width: 992px) {
  .nav-bar-title {
    display: block;
  }
  .burger {
    display: block;
  }
  nav.menu {
    height: auto;
  }
  .nav-bar {
    flex-direction: column;
    align-items: start;
  }
  .nav-menu.active {
    display: flex;
  }
  .nav-menu {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
    height: auto;
  }
  .nav-menu li {
    text-align: center;
    padding: 0.5rem 1rem;
  }
}

/* end nav */

/* service */
#service {
  margin-bottom: 60px;
}
.service-title {
  padding: 60px 0;
}
.line {
  display: inline-block;
  background: #32cd32;
  width: 200px;
  height: 3px;
}

.service-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-items {
  max-width: 300px;
  padding: 10px;
  /* border: 1px solid #32CD32; */
  border-radius: 5px;
}

.service-items a {
  text-decoration: none;
  color: #32cd32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-items a:hover {
  color: #239023;
}

.service-items i {
  font-size: 4rem;
}

.service-items span {
  border: 1px solid #32cd32;
  padding: 40px;
  border-radius: 50%;
}

.service-items a:hover span {
  border: 1px solid #239023;
}

@media (max-width: 576px) {
  .service-flex {
    flex-direction: column;
  }
  .service-title {
    text-align: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .service-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .service-title {
    text-align: center;
  }
}

/* end service */

/* news */
#news {
  padding-bottom: 60px;
  background: #fff;
}
.news-title {
  padding: 60px 0;
}

.news-knowledge {
  /* display: none; */
  padding: 30px 0;
}
.news-knowledge-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}
.news-knowledge-item {
  padding: 0.2rem;
  border: 1px solid #ccc;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .news-knowledge {
    padding: 10px 0;
  }
  .news-knowledge-item {
    padding: 0;
    width: 100%;
  }
  .news-knowledge-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 481px) and (max-width: 992px) {
  .news-title {
    text-align: center;
  }
  .news-knowledge {
    padding: 20px 0;
  }
  .news-knowledge-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .news-knowledge-item {
    padding: 0;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
}
/* end news */

/* activity */
#activity {
  padding: 60px 0;
}

.activity-title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

.activity-title-flex .activity-title-btn {
  color: #eee;
  padding: 5px 10px;
  border: 1px solid #32cd32;
  border-radius: 5px;
  text-decoration: none;
  background: #32cd32;
}

.activity-title-flex .activity-title-btn:hover {
  background: #239023;
  border: 1px solid #239023;
}

.activity-items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

.activity-items {
  color: #eee;
  height: 250px;
  border-radius: 5px;
  position: relative;
  transition: 0.3s;
}

.activity-items:hover {
  transform: translateY(-10px);
}

.activity-items-title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-left: 10px;
}

.activity-items {
  background: url(../images/logo_MOPH.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 576px) {
  .activity-title-flex {
    flex-direction: column;
  }
  .activity-title {
    text-align: center;
  }
  .activity-title-flex .activity-title-btn {
    display: none;
  }
  .activity-items-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .activity-items-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

/* end activity */

/* article */
#article {
  padding: 60px 0;
  background: #fff;
}

.article-title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

.article-title-flex .article-title-btn {
  color: #eee;
  padding: 5px 10px;
  border: 1px solid #32cd32;
  border-radius: 5px;
  text-decoration: none;
  background: #32cd32;
}

.article-title-flex .article-title-btn:hover {
  background: #239023;
  border: 1px solid #239023;
}

.article-items-flex .nav-link {
  color: #32cd32;
}
.article-items-flex .nav-link.active {
  color: #239023;
}
.btn.btn-link.collapsed {
  color: #32cd32;
}
.btn.btn-link {
  color: #239023;
}
.card .card-body .list-group .list-group-item a {
  color: #333;
}
@media only screen and (max-width: 576px) {
  .article-title-flex {
    flex-direction: column;
  }
  .article-title-flex .article-title-btn {
    display: none;
  }
  .article-title {
    text-align: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .article-title-flex {
    flex-direction: row;
  }
  .article-title-flex .article-title-btn {
    display: block;
  }
}

/* end article */

/* department */
#department {
  padding: 60px 0;
}

.department-title {
  padding-bottom: 60px;
}

ul.department-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.department-items li {
  padding: 15px 0;
  border: 1px solid #32cd32;
  text-align: center;
  filter: grayscale(50%);
  opacity: 0.5;
}

ul.department-items li:hover {
  filter: none;
  opacity: 1;
}

ul.department-items li a {
  color: #32cd32;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  .department-title {
    text-align: center;
  }

  ul.department-items {
    grid-template-columns: repeat(3, 1fr);
  }
  #department {
    padding: 30px 10px;
  }
}
/* end department */

/* Information */
#information {
  padding: 60px 0;
  background-image: url(../images/img-17.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  min-height: 400px;
}

.information-title {
  padding-bottom: 60px;
  color: #fff;
}

ul.information-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ul.information-items li {
  padding: 15px 0;
  border: 1px solid #32cd32;
  background-color:#43475d;
  text-align: center;
  filter: grayscale(50%);
  opacity: 0.5;
  transition: 0.3s;
} */

/* ul.information-items li:hover {
  filter: none;
  opacity: 1;
} */
ul.information-items li {
  position: relative;
  padding: 15px 0;
  background: #43475d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  text-align: center;
}
ul.information-items li span{
  position: relative;
  z-index: 1;
}

ul.information-items li::before{
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform:  translate(-50%,-50%);
  width:  0;
  height: 0;
  border-radius: 50%;
  background: #2196f3;
  transition:  width 0.7s, height 0.7s;
}

ul.information-items li:hover::before{
  width: 700px;
  height: 700px;
}

ul.information-items li a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 992px) {
  /* #information{
    min-height: 0;
  }  */
  .information-title {
    text-align: center;
  }

  ul.information-items {
    grid-template-columns: repeat(3, 1fr);
  }
  #information {
    padding: 30px 10px;
  }
}
/* end Information */

/* government */
#government {
  padding: 60px 0;
  /* background: #fff; */
  background-image: url(../images/writing.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.government-title {
  padding-bottom: 60px;
  color: #fff;
}

ul.government-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.government-items li:not(.banner-img) {
  padding: 15px 0;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  background: #6b77e1;
  /* opacity: 0.5; */
  transition: 0.3s;
}

ul.government-items li.banner-img {
  background: none;
}
ul.government-items li.banner-img:hover {
  filter: none;
  opacity: 1;
}
ul.government-items li.banner-img img {
  width: 100%;
}

ul.government-items li:hover {
  filter: grayscale(10%);
  opacity: 1;
}

ul.government-items li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 992px) {
  .government-title {
    text-align: center;
  }

  ul.government-items {
    grid-template-columns: repeat(1, 1fr);
  }
  #government {
    padding: 30px 10px;
  }
}
/* end government */
