<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">กิจกรรม</li>
    </ol>
</nav>
<br>

