
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
            <li class="breadcrumb-item active" aria-current="page">จองคิวออนไลน์
            </li>
        </ol>
    </nav>
</div>

<br>

<div class="row justify-content-md-center">

    <div class="col-lg-4 text-center">
        <h4>จองคิวออนไลน์</h4>
        <p>สำหรับห้องตรวจตา และ ห้องตรวจหู คอ จมูก</p>
        <div class="border"></div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-12 text-center d-none d-sm-block">
        <div class="row">
            <div class="col-12 mb-2">
                <img class="" src="./images/linemoph.png" style="width:20%;" alt="">
            </div>
        </div>
        <div class="text-center m-5">
            <h4>คู่มือการใช้งาน</h4>
            
            <div class="border"></div>
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                <a href="./images/MOPH-CONNECT.jpg" data-lightbox="oapp-pc" data-title="">
                    <img src="./images/MOPH-CONNECT.jpg" height="auto" width="100%" alt="" srcset="">
                </a>
            </div>
            <div class="col-6">
                <a href="./images/OAPP-Online.jpg" data-lightbox="oapp-pc" data-title="">
                    <img src="./images/OAPP-Online.jpg" height="auto" width="100%" alt="" srcset="">
                </a>

            </div>
        </div>

    </div>
    <div class="col-12 text-center 	d-block d-sm-none ">
        <div class="row">
            <div class="col-12">
                <a href="http://line.me/ti/p/~@mophconnect"><i class="fab fa-line"
                        style="font-size: 70px; color: green;"></i>
                </a>

            </div>
        </div>
        <div class="text-center m-5">
            <h4>คู่มือการใช้งาน</h4>
            <div class="border"></div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <a href="./images/MOPH-CONNECT.jpg" data-lightbox="oapp-mobil" data-title="">
                    <img src="./images/MOPH-CONNECT.jpg" height="auto" width="100%" alt="" srcset="">
                </a>
            </div>
            <div class="col-12">
                <a href="./images/OAPP-Online.jpg" data-lightbox="oapp-mobil" data-title="">
                    <img src="./images/OAPP-Online.jpg" height="auto" width="100%" alt="" srcset="">
                </a>

            </div>
        </div>
    </div>

</div>
<!-- <div class="row mt-3">
    <div class="col-12 text-center">

        <a href="./images/Manuals.pdf" style="width: 200px; height: 150px;  ">
            <p>คู่มือการใช้งาน (Download)</p>
        </a>
      

    </div>
</div> -->