<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        ตารางออกตรวจแพทย์
      </li>
    </ol>
  </nav>
  <br />
  <div class="row">
    <div class="col">
      <h2>ตารางออกตรวจแพทย์</h2>
      <div class="border"></div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered">
          <thead>
            <tr style="background-color: #35a800; color: white;">
              <th scope="col" style="
                  width: 200px;
                  vertical-align: middle;
                  text-align: center;
                ">
                ห้องตรวจ
              </th>
              <th scope="col" style="
                  width: 200px;
                  vertical-align: middle;
                  text-align: center;
                ">
                จันทร์
              </th>
              <th scope="col" style="
                  width: 200px;
                  vertical-align: middle;
                  text-align: center;
                ">
                อังคาร
              </th>
              <th scope="col" style="
                  width: 200px;
                  vertical-align: middle;
                  text-align: center;
                ">
                พุธ
              </th>
              <th scope="col" style="
                  width: 200px;
                  vertical-align: middle;
                  text-align: center;
                ">
                พฤหัสบดี
              </th>
              <th scope="col" style="
                  width: 200px;
                  vertical-align: middle;
                  text-align: center;
                ">
                ศุกร์
              </th>
            </tr>
          </thead>
          <tbody id="tbody-doctor">
          
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <p style="text-align:center;">หมายเหตุ: ตารางออกตรวจของแพทย์ อาจเปลี่ยนแปลง</p>
  <p style="text-align:center;">ปรับปรุงล่าสุด: 01/06/2566</p>
  <hr>
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-12">
          <h2>คลินิก</h2>
          <div class="border"></div>
          <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered">
              <thead>
                <tr style="background-color: #35a800; color: white;">
                  <th scope="col" style="
                      width: 250px;
                      vertical-align: middle;
                      text-align: center;
                    ">
                    คลินิก
                  </th>
                  <th scope="col" style="vertical-align: middle; text-align: center;">
                    วันทำการ
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>เบาหวาน</td>
                  <td>อังคาร/พุธ/ศุกร์ (เช้า)</td>
                </tr>
                <tr>
                  <td>นมแม่</td>
                  <td>จันทร์-ศุกร์ (ตึกนรีเวช)</td>
                </tr>
                <tr>
                  <td>คลินิกโรคปอด (COPD/Asthma)</td>
                  <td>อังคารบ่าย</td>
                </tr>
                <tr>
                  <td>วัณโรค</td>
                  <td>พฤหัสบดี</td>
                </tr>
                <tr>
                  <td>Day Care</td>
                  <td>จันทร์</td>
                </tr>
                <tr>
                  <td>ความดันโลหิตสูง</td>
                  <td>จันทร์/พฤหัสบดี เช้า</td>
                </tr>
                <tr>
                  <td>คลินิกชะลอไตเสื่อม</td>
                  <td>จันทร์/อังคารเช้า</td>
                </tr>
                <tr>
                  <td>คลินิกล้างไตช่องท้อง</td>
                  <td>พฤหัสเช้า</td>
                </tr>
                <tr>
                  <td>OPD แพทย์แผนไทย</td>
                  <td>อังคาร, ศุกร์</td>
                </tr>
                <tr>
                  <td>วัคซีนเด็ก</td>
                  <td>พุธ</td>
                </tr>
                <tr>
                  <td>ฝากครรภ์</td>
                  <td>จันทร์ (รายใหม่)</td>
                </tr>
                <tr>
                  <td>กัญชา</td>
                  <td>ให้คำปรึกษา จันทร์-ศุกร์, พบแพทย์ พุธ</td>
                </tr>
                <tr>
                  <td>Heart Failure</td>
                  <td>พุธเช้า</td>
                </tr>
                <tr>
                  <td>หลอดเลือดสมอง</td>
                  <td>พฤหัสเช้า</td>
                </tr>
                <tr>
                  <td>Warfarin</td>
                  <td>จันทร์เช้า</td>
                </tr>
                <tr>
                  <td>โรคผิวหนัง นพ.มรุต พนธารา</td>
                  <td>ศุกร์</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-12">
          <h2>คลินิกนอกเวลา</h2>
          <div class="border"></div>
          <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered">
              <thead>
                <tr style="background-color: #35a800; color: white;">
                  <th scope="col" style="
                      width: 200px;
                      vertical-align: middle;
                      text-align: center;
                    ">
                    คลินิกนอกเวลา
                  </th>
                  <th scope="col" style="
                      width: 200px;
                      vertical-align: middle;
                      text-align: center;
                    ">
                    วันทำการ
                  </th>
                  <th scope="col" style="vertical-align: middle; text-align: center;">
                    เวลา
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ทันตกรรม (ต้องจองคิวล่วงหน้า)</td>
                  <td>จันทร์, อังคาร</td>
                  <td>16:30 - 20:30 น.</td>
                </tr>
                <tr>
                  <td>แพทย์แผนไทย (ในโรงพยาบาล)</td>
                  <td>จันทร์-ศุกร์</td>
                  <td>16:30 - 20:30 น.</td>
                </tr>
                <tr>
                  <td>จิตเวช</td>
                  <td>พุธ</td>
                  <td>17:00 - 19:00 น.</td>
                </tr>
                <tr>
                  <td rowspan="2" style="vertical-align: middle;">
                    แพทย์แผนไทย (ริมน้ำ)
                  </td>
                  <td>จันทร์-ศุกร์</td>
                  <td>16:30 - 18:30 น.</td>
                </tr>
                <tr>
                  <td>เสาร์-อาทิตย์ 
                   <br> และวันหยุดนักขัตฤกษ์</td>
                  <td>08:30 - 18:30 น.</td>
                </tr>
                <tr>
                  <td rowspan="2" style="vertical-align: middle;">กายภาพ</td>
                  <td>จันทร์-ศุกร์</td>
                  <td>16:30 - 20:30 น.</td>
                </tr>
                <tr>
                  <td>เสาร์</td>
                  <td>08:30 - 16:30 น.</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>

<style>
  table td {
    white-space: nowrap;

  }
</style>

<script>
  console.log('Doctor');
  (() => {
    fetch(endPoint + pathAPI + "doctor/scheduler", {
      method: "GET",
    })
      .then((response) => response.json())
      .then((json) => {
        console.log('json', json);
        for (let index = 0; index < json.length; index++) {
          const element = json[index];
          let row = `
            <tr>
              <td style="vertical-align: middle;">
                <p>${element.room_name}</p>
              </td>
              <td>
                <p>${element.monday && element.monday.replaceAll("\n", "<br>")}</p>
              </td>
              <td>
                <p>${element.tuesday && element?.tuesday.replaceAll("\n", "<br>")}</p>
              </td>
              <td>
                <p>${element.wednesday && element?.wednesday.replaceAll("\n", "<br>")}</p>
              </td>
              <td>
                <p>${element.thursday && element?.thursday.replaceAll("\n", "<br>")}</p>
              </td>
              <td>
                <p>${element.friday && element?.friday.replaceAll("\n", "<br>")}</p>              
              </td>
            </tr>
          `;

          $('#tbody-doctor').append(row);
        }

      });
  })()
</script>