<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
    <li class="breadcrumb-item active" aria-current="page">ดาวน์โหลดเอกสาร</li>
  </ol>
</nav>
<br>
<div class="row justify-content-md-center">

  <div class="col-md-3 col-12 text-center">
    <h2>ดาวน์โหลดเอกสาร</h2>
    <div class="border"></div>
  </div>

</div>
<br>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">รายการ</th>
          <th scope="col" class="text-center">ดาวน์โหลด</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>แบบคำขอเพิ่มบัญชีผู้ใช้งานระบบสารสนเทศ</td>
        <td class="text-center">
          <a href="https://www.skth.go.th/Upload/New_Account_SKTH.pdf" target="_blank"><i class="fas fa-file-download"></i></a>
          <!-- <button type="button" class="btn btn-primary btn-sm"> <i class="fas fa-file-download"></i></button> -->
        </td>
      </tr>
      <!-- <tr>
        <th scope="row">2</th>
        <td>แบบฟอร์ม 2</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm"> <i class="fas fa-file-download"></i></button>
        </td>
      </tr> -->
      </tbody>
    </table>

  </div>
</div>