<div class="container">


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
            <li class="breadcrumb-item active newTitle"><a href="?page=ita">ITA</a></li>
            <li class="breadcrumb-item active newTitle" aria-current="page">EB</li>
        </ol>
    </nav>
    <br>


    <div class="row">
        <div class="col-12">
            <h5>ITA</h5>
        </div>
    </div>
    <div class="title-line"></div>
    <br>

    <br>

    <div class="row">
        <div class="col-12">
            <table id="tableita" class="table">
                <thead>
                    <tr>
                        <th>หัวข้อ</th>
                        <!-- <th>ประเภท</th> -->
                        <th>วันที่</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>