<div class="container">


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
    <li class="breadcrumb-item active" aria-current="page">อัลบั้ม</li>
  </ol>
</nav>
<br>
<div class="row ">
  <div class="col ">
    <h3 id="galleryTitle">อัลบั้ม</h3>
    <div class="row">
      <div class="col-md-auto">
        <small class="text-muted" id="galleryDate"></small>
      </div>
      <div class="col-md-auto">
        <small class="text-muted"><span style="font-size: 1em;"><i class="far fa-user"></i></span> Admin</small>
      </div>
    </div>

    <div class="border"></div>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <p class="lead" id="galleryDesc"> </p>
  </div>
</div>

<br>
<div class="rowImg" id="galleryRow">
  <div class="columnImg" id="c1"></div>
  <div class="columnImg" id="c2"></div>
  <div class="columnImg" id="c3"></div>
  <div class="columnImg" id="c4"></div>
</div>
</div>
<style>
  .rowImg {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create two equal columns that sits next to each other */
  .columnImg {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .columnImg img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnImg {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnImg {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
</style>