<div class="container">


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">ประวัติโรงพยาบาล</li>
    </ol>
</nav>
<br>
<div class="row justify-content-md-center">

    <div class="col-md-3 col-12 text-center">
        <h2>ประวัติโรงพยาบาล</h2>
        <div class="border" ></div>
    </div>
    
</div>
<br>

<div class="row">
    <div class="col-md-6 col-12">
        <p>
            &emsp;&ensp;&emsp;&ensp;เดิมโรงพยาบาลประจำจังหวัดสุโขทัย ตั้งอยู่ที่อำเภอศรีสำโรงจังหวัดสุโขทัย
            ซึ่งก็คือโรงพยาบาลศรีสังวรในปัจจุบัน ต่อมาทางจังหวัด
            สุโขทัยเห็นว่าโรงพยาบาลประจำจังหวัดสมควรอยู่ที่อำเภอเมือง ซึ่งเป็นศูนย์กลวงของหน่วยราชการต่างๆ
            ภายในจังหวัดและสามารถให้บริการประชาชนได้ครอบคลุมมากกว่า
            จึงได้รับงบประมาณแผ่นดินส่วนหนึ่งสมทบกับเงินบริจาคของประชากรอีกส่วนหนึ่ง
            เริ่มดำเนิ่นการก่อสร้างโรงพยาบาลสุโขทัยเมื่อปีพ.ศ.2503
            โรงพยาบาลสุโขทัยเริ่มเปิดดำเนินการให้บริการแก่ประชาชนเมื่อวันที่ 2 กุมภาพันธ์ พ.ศ.2506 เป็นโรงพยาบาลขนาด 30
            เตียง
            โดยมี
            นายแพทย์พงซ์ชัย สุคนธวยัคฆ์ เป็นผู้อำนวยการคนแรก และขยายบริการเรื่อยมาเป็นลำดับ
        </p>
        <p>
            &emsp;&ensp;&emsp;&ensp;ปัจจุบันโรงพยาบาลสุโขทัยเป็นโรงพยาบาล ขนาด 320 เตียง
            จัดอยู่ในประเภทโรงพยาบาลทั่วไปสังกัดสำนักงานปลัดกระทรวงสาธารณสุข
            มีหน้าที่หลักในการให้บริการประชาชนในด้านการตรวจวินิจฉัยโรคให้บริการรักษาพยาบาล ส่งเสริมสุขภาพ
            และควบคุมป้องกันโรค
            ฟื้นฟูสภาพ
            นอกจากนี้ยังมีหน้าที่ในการให้การศึกษาอบรมแก่นักศึกษาและเจ้าหน้าที่สาธารณสุข ทั้งในและนอกสังกัดสาธารณสุข
            รวมทั้งดำเนินงานด้าน
            วิชาการและงานวิจัย เพื่อพัฒนาการรักษาพยาบาลให้ก้าวหน้า
        </p>
        <p>
            &emsp;&ensp;&emsp;&ensp;โรงพยาบาลสุโขทัยรับผิดชอบประชากรในเขตอำเภอเมืองสุโขทัยดูแลสถานพยาบาลในเครือข่าย 14 แห่ง
            1
            เทศบาล รวมประชากรที่รับ
            ผิดชอบทั้งสิ้น 112,608 คน (ชาย 54,132 คน หญิง 58,476 คน)
        </p>
    </div>
    <div class="col-12 col-md-6">
        <img src="images/skth_buiding.jpg" style="width:100%" alt="">
    </div>
</div>
</div>