<div class="container">


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
            <li class="breadcrumb-item active newTitle" aria-current="page">ITA</li>
        </ol>
    </nav>
    <br>


    <div class="row">
        <div class="col-12">
            <h5>ITA</h5>
        </div>
    </div>
    <div class="title-line"></div>
    <br>
    
     <div class="form-group row">
        <div class="col col-form-label">ปี</div>
        <div class="col">
            <!-- <input type="text" class="form-control datePicker" id="dateita" > -->
            <select class="custom-select" id="itaYear">
                <option value="2025" selected>2568</option>
                <option value="2024" >2567</option>
                <option value="2023" >2566</option>
                <option value="2022" >2565</option>
                <option value="2021" >2564</option>
              </select>
        </div>
    </div>
    <br> 

    <!-- <div class="row">
        <div class="col">
            <table id="tableita" class="table">
                <thead>
                    <tr>
                        <th>ข่าว</th>
                        <th>ประเภท</th> 
                        <th>วันที่</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div> -->
    <div class="row">
        <div class="col">
            <table id="tableitaeb" class="table">
                <thead>
                    <tr>               
                        <th style="width: 60px;">ลำดับ</th>                    
                        <th>EB</th>                    
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>