<div class="container">


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      เข็มมุ่ง คำขวัญ ค่านิยม
    </li>
  </ol>
</nav>
<br />

<div class="row justify-content-md-center">
  <div class="col-lg-4 text-center">
    <h4>เข็มมุ่ง คำขวัญ ค่านิยม</h4>
    <div class="border"></div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-12 text-center">
    <h5 class="mb-2">คำขวัญ</h5>
    <p>
      โรงพยาบาลก้าวหน้า รักษาได้มาตรฐาน บริการประทับใจ
    </p>
    <br />
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <h5 class="mb-2">เข็มมุ่ง</h5>
    <p>
      3 ส. ขอสร้างเสริมสุขภาพ สร้างเสริมสุขภาพผู้รับบริการ
      สร้างเสริมสุขภาพบุคลากร สร้างเสริมสิ่งแวดล้อม
    </p>
    <br />
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <h5 class="mb-2">ค่านิยม MOPH</h5>
    <p>
      M: Mastery เป็นนายตัวเอง
    </p>
    <p>
      O: Originality เร่งสร้างสิ่งใหม่
    </p>
    <p>
      P: People center ใส่ใจประชาชน
    </p>
    <p>
      H: Humility ถ่อมตนอ่อนน้อม
    </p>
    <br />
  </div>
</div>
</div>