<div class="container">


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
            <li class="breadcrumb-item active" aria-current="page">สถานที่ตั้งโรงพยาบาล</li>
        </ol>
    </nav>
    <br>
    <div class="row justify-content-md-center">

        <div class="col-md-4 text-center">
            <h3>สถานที่ตั้งโรงพยาบาล</h3>
            <div class="border"></div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6 col-12 address">
            <h3>2/1 หมู่ 12 ถนนจรดวิถีถ่อง </h3>
            <h3>ตำบลบ้านกล้วย อำเภอเมือง </h3>
            <h3>จังหวัดสุโขทัย</h3>
        </div>
        <div class="col-md-6 col-12">
            <div id="map"></div>
        </div>
    </div>
</div>
<style>
    #map {
        height: 500px;
        width: 100%;
    }

    .address {
        height: 500px;
        width: 100%;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/skth_location_2.jpeg);
        background-size: cover;
        color: white;
        padding: 30px
    }

    .address>h3 {
        padding: 5px
    }
</style>
<script>
    var map;
    function initMap() {
        var skth = { lat: 17.01095, lng: 99.795320 };
        map = new google.maps.Map(document.getElementById('map'), {
            center: skth,
            zoom: 16
        });
        var marker = new google.maps.Marker({ position: skth, map: map });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADVkXiW00jrSQw3wAnMbH3wsX9KdaDf0s&callback=initMap">
    </script>