<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
            <li class="breadcrumb-item active" aria-current="page">กลุ่มงานเภสัชกรรม
            </li>
        </ol>
    </nav>
    <br>

    <div class="row justify-content-md-center">

        <div class="col-lg-4 text-center">
            <h4>กลุ่มงานเภสัชกรรม</h4>
            <div class="border"></div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-12">
            <ul class="list-group" id="pharmacyList">

                <a href="?page=viewnew&news_id=2576" class="list-group-item list-group-item-action ">
                    1.ระเบียบ/แนวทางปฏิบัติ
                </a>
                <a href="?page=viewnew&news_id=1503" class="list-group-item list-group-item-action ">
                    2.คู่มือการใช้ยา
                </a>
            </ul>
        </div>
    </div>
</div>