<div class="container">


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
            <li class="breadcrumb-item active" aria-current="page">รายนามผู้อำนวยการ</li>
        </ol>
    </nav>
    <br>

    <div class="row justify-content-md-center">

        <div class="col-md-6 text-center">
            <h5>รายนามผู้อำนวยการ</h5>
            <div class="border"></div>
        </div>
    </div>
    <br>

    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                1.นายแพทย์พงศ์ชัย สุคนธวยัคฆ์
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2504 - พ.ศ. 2516
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                2.นายแพทย์จงรัก กุลเศรษฐ์
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2517 - พ.ศ. 2520
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                3.นายแพทย์ยุทธนา เวชโอสถ
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2520 - พ.ศ. 2524
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                4.นายแพทย์สุภา รักชาติ
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2524 - พ.ศ. 2526
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                5.นายแพทย์พจนารถ จันทโรจวงศ์
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2526 - พ.ศ. 2528
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                6.นายแพทย์บูรพา รัตนนราทร
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2528 - พ.ศ. 2534
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                7.นายแพทย์สถาพร วงษ์เจริญ
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2534 - พ.ศ. 2539
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                8.นายแพทย์ชาตรี ตันติยวรงศ์
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2539 - พ.ศ. 2541
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                9.นายแพทย์นุคุณ ประยูรวงษ์
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2541 - พ.ศ. 2543
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                10.นายแพทย์พงษ์เทพ เทพสมาน
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2543 - พ.ศ. 2545
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                11.นายแพทย์วิวัฒน์ เชวงชัยยง
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2545 - พ.ศ. 2546
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                12.นายแพทย์ละลิ่ว จิตต์การุณ
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2546 - พ.ศ. 2549
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                13.นายแพทย์เธียรชัย คฤหโยธิน
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2549 - พ.ศ. 2550
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                14.นายแพทย์ชูศักดิ์ เอื้อวิจิตรพจนา
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2550 - พ.ศ. 2553
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                15.นายแพทย์จิรวัฒน์ อัครานุชาต
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2553 - พ.ศ. 2554
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                16.นายแพทย์ศิวฤทธิ์ รัศมีจันทร์
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2555 - พ.ศ. 2556
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                17.นายแพทย์ดิเรก งามวาสีนนท์
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2556 - พ.ศ. 2559
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                18.แพทย์หญิงภาวิณี เอี่ยมจันทน์
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2559 - พ.ศ. 2563
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                19.นายแพทย์มาโนช อู่วุฒิพงษ์
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2563 - พ.ศ. 2567
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center"></div>
        <div class="col-7 col-md-5 col-md-offset-3">
            <p>
                20.นายแพทย์สุนทร อินทพิบูลย์
            </p>
        </div>
        <div class="col-5 col-md-3">
            <p>
                พ.ศ. 2567 - ปัจจุบัน
            </p>
        </div>
    </div>
</div>