<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
      <li class="breadcrumb-item active" aria-current="page">อัตราค่าห้องพิเศษ</li>
    </ol>
  </nav>
  <br>
  <div class="row">
    <div class="col">
      <h2>อัตราค่าห้องพิเศษ</h2>
      <div class="border"></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered">
          <thead>
            <tr style="background-color: #35a800;
          color: white;">
              <th scope="col" colspan="2">สิทธิ</th>
              <th scope="col" style="width: 150px; text-align:center">ห้องพิเศษ VIP</th>
              <th scope="col" style="width: 150px; text-align:center">ห้องพิเศษ เดี่ยว</th>
              <th scope="col" style="width: 150px; text-align:center">ห้องพิเศษ เดี่ยว</th>
              <th scope="col" style="width: 150px; text-align:center">ห้องพิเศษ รวม</th>
              <th scope="col" style="width: 150px; text-align:center">เตียงสามัญ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">
                ค่าห้องรวมค่าอาหาร
              </td>
              <td style="vertical-align:middle;text-align:right">2,500</td>
              <td style="vertical-align:middle;text-align:right">1,600</td>
              <td style="vertical-align:middle;text-align:right">1,400</td>
              <td style="vertical-align:middle;text-align:right">1,000</td>
              <td style="vertical-align:middle;text-align:right">400</td>
            </tr>
            <tr>
              <td rowspan="2" style="vertical-align:middle">
                ข้าราชการ,อปท
              </td>
              <td>เบิกได้ตามสิทธิ</td>
              <td style="vertical-align:middle;text-align:right">1,000</td>
              <td style="vertical-align:middle;text-align:right">1,000</td>
              <td style="vertical-align:middle;text-align:right">1,000</td>
              <td style="vertical-align:middle;text-align:right">1,000</td>
              <td style="vertical-align:middle;text-align:right">400</td>
            </tr>
            <tr>
              <td>ชำระส่วนเกิน (ลด50%)</td>
              <td style="vertical-align:middle;text-align:right">750</td>
              <td style="vertical-align:middle;text-align:right">300</td>
              <td style="vertical-align:middle;text-align:right">200</td>
              <td style="vertical-align:middle;text-align:right">-</td>
              <td style="vertical-align:middle;text-align:right">-</td>
            </tr>
            <td rowspan="2" style="vertical-align:middle">
              อสม., ผู้นำชุมชน และครอบครัว
            </td>
            <td>เบิกได้ตามสิทธิ</td>
            <td style="vertical-align:middle;text-align:right">400</td>
            <td style="vertical-align:middle;text-align:right">400</td>
            <td style="vertical-align:middle;text-align:right">400</td>
            <td style="vertical-align:middle;text-align:right">400</td>
            <td style="vertical-align:middle;text-align:right">400</td>
            </tr>
            <tr>
              <td>ชำระส่วนเกิน (ลด50%)</td>
              <td style="vertical-align:middle;text-align:right">1,050</td>
              <td style="vertical-align:middle;text-align:right">600</td>
              <td style="vertical-align:middle;text-align:right">500</td>
              <td style="vertical-align:middle;text-align:right">300</td>
              <td style="vertical-align:middle;text-align:right">-</td>
            </tr>
            <tr>
            <td rowspan="2" style="vertical-align:middle">
              บัตรทองและประกันสังคม
            </td>
            <td>เบิกได้ตามสิทธิ</td>
            <td style="vertical-align:middle;text-align:right">400</td>
            <td style="vertical-align:middle;text-align:right">400</td>
            <td style="vertical-align:middle;text-align:right">400</td>
            <td style="vertical-align:middle;text-align:right">400</td>
            <td style="vertical-align:middle;text-align:right">400</td>
            </tr>
            <tr>
              <td>ชำระส่วนเกิน</td>
              <td style="vertical-align:middle;text-align:right">2,100</td>
              <td style="vertical-align:middle;text-align:right">1,200</td>
              <td style="vertical-align:middle;text-align:right">1,000</td>
              <td style="vertical-align:middle;text-align:right">600</td>
              <td style="vertical-align:middle;text-align:right">-</td>
            </tr>
            <tr>
              <td colspan="2">ประกันชีวิต(ตามสิทธิ) ส่วนเกินจากสิทธิ</td>
              <td style="vertical-align:middle;text-align:right">ส่วนเกินจากสิทธิ</td>
              <td style="vertical-align:middle;text-align:right">ส่วนเกินจากสิทธิ</td>
              <td style="vertical-align:middle;text-align:right">ส่วนเกินจากสิทธิ</td>
              <td style="vertical-align:middle;text-align:right">ส่วนเกินจากสิทธิ</td>
              <td style="vertical-align:middle;text-align:right">ส่วนเกินจากสิทธิ</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- <table class="table table-sm table-striped table-bordered">
        <thead>
          <tr style="background-color: #35a800;
          color: white;" >
            <th scope="col">ห้องพิเศษ</th>
            <th scope="col" style="width: 100px; text-align:right">ราคา/วัน</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >
              <div id="accordionExample">
                <div >
                  <div id="headingOne">
                      <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <h5 style="color: blue;">ห้องพิเศษห้องสูท</h5> 
                      </a>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="d-flex justify-content-between">
                      <ul class="list-group flex-fill">
                        <li class="list-group-item">เครื่องปรับอากาศ</li>
                        <li class="list-group-item">TV</li>
                        <li class="list-group-item">ตู้เย็น</li>
                        <li class="list-group-item">โซฟา</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td style="vertical-align:middle;text-align:right" >2,500</td>
          </tr>
          <tr>
            <td >
              <div id="accordion2">
                <div >
                  <div id="heading2">
                      <a data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                      <h5 style="color: blue;">ห้องพิเศษเดี่ยว</h5> 
                      </a>
                  </div>
                  <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion2">
                    <div class="d-flex justify-content-between">
                      <ul class="list-group flex-fill">
                        <li class="list-group-item">เครื่องปรับอากาศ</li>
                        <li class="list-group-item">TV</li>
                        <li class="list-group-item">ตู้เย็น</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td style="vertical-align:middle;text-align:right">1,600</td>
          </tr>
          <tr>
            <td >
              <div id="accordion3">
                <div >
                  <div id="heading3">
                      <a data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                      <h5 style="color: blue;">ห้องพิเศษเดี่ยว</h5> 
                      </a>
                  </div>
                  <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion3">
                    <div class="d-flex justify-content-between">
                      <ul class="list-group flex-fill">
                        <li class="list-group-item">เครื่องปรับอากาศ</li>
                        <li class="list-group-item">TV</li>
                        <li class="list-group-item">ตู้เย็น</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td style="vertical-align:middle;text-align:right">1,400</td>
          </tr>         
          <tr>
            <td>
              <div id="accordion4">
                <div >
                  <div id="heading4">
                      <a data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                      <h5 style="color: blue;">ห้องพิเศษรวม</h5> 
                      </a>
                  </div>
                  <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordion4">
                    <div class="d-flex justify-content-between">
                      <ul class="list-group flex-fill">
                        <li class="list-group-item">เครื่องปรับอากาศ</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td style="vertical-align:middle;text-align:right">1,000</td>
          </tr>
          <tr>
            <td ><h5>เตียงสามัญ</h5> </td>
            <td style="vertical-align:middle;text-align:right">400</td>
          </tr>         
        </tbody>
      </table> -->
    </div>
  </div>
</div>

<style>
  table td {
    white-space: nowrap;
  }
</style>