<div class="container">


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
    <li class="breadcrumb-item active newTitle" aria-current="page">ค้นหาข่าว</li>
  </ol>
</nav>
<br>


<div class="row">
  <div class="col-12">
    <h5>ข่าวทั้งหมด</h5>
  </div>
</div>
<div class="title-line"></div>
<br>
<form>
  <div class="form-group row">
    <label for="newsType" class="col-md-2 col-3 col-form-label">ประเภทข่าว</label>
    <div class="col-md-10 col-9">
      <select class="form-control" id="newsType">
        <option value="1">ข่าวทั่วไป</option>
        <option value="2">ข่าวประกวดราคา/จัดซื้อ-จัดจ้าง</option>
        <option value="3">ข่าวประกาศรับสมัครงาน/สมัครสอบ</option>
        <option value="8">กฎหมาย/ระเบียบ</option>
      </select>
    </div>

  </div>
</form>
<div class="form-group row">
  <div class="col-12 col-form-label">วันที่</div>
  <div class="col">
    <input type="text" class="form-control datePicker" id="startDate">
  </div>
  <div class="col-12 col-form-label text-center">ถึง</div>
  <div class="col">
    <input type="text" class="form-control datePicker" id="endDate">
  </div>
</div>
<br>

<!-- <div class="row">
  <div class="col">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col-10">ชื่อข่าว</th>
          <th scope="col-2">วันที่</th>
        </tr>
      </thead>
      <tbody id="tbNews">
      </tbody>
    </table>
  </div>
</div> -->
<!-- <div class="row">
  <div class="col">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-end">
        <li class="page-item " id="btn_prev"><a class="page-link" href="javascript:prevPage()">ก่อนหน้า</a></li>
        <li class="page-item page active"><a class="page-link pageLink">1</a></li>
        <li class="page-item page"><a class="page-link pageLink">2</a></li>
        <li class="page-item page"><a class="page-link pageLink">3</a></li>
        <li class="page-item" id="btn_next"><a class="page-link" href="javascript:nextPage()">ถัดไป</a></li>
      </ul>
    </nav>
  </div>
</div> -->

<div class="row">
  <div class="col">
    <table id="tablenews" class="table" style="width:100%">
      <thead>
        <tr>
          <th>ข่าว</th>
          <!-- <th>ประเภท</th> -->
          <th>วันที่</th>
        </tr>
      </thead>

    </table>

  </div>
</div>

</div>
<!-- <div id="listingTable"></div>
<a >Prev</a>
page: <span id="page"></span>
<a  >Next</a> -->