<div class="container">



<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
    <li class="breadcrumb-item active newTitle" aria-current="page">ค้นหากิจกรรม</li>
  </ol>
</nav>
<br>


<div class="row">
  <div class="col-12">
    <h5>กิจกรรมทั้งหมด</h5>
  </div>
</div>
<div class="title-line"></div>
<br>
<div class="form-group row">
  <div class="col-12 col-form-label">วันที่</div>
  <div class="col">
    <input type="text" class="form-control datePicker" id="startDate">
  </div>
  <div class="col-12 col-form-label text-center">ถึง</div>
  <div class="col">
    <input type="text" class="form-control datePicker" id="endDate">
  </div>
</div>
<br>



<div class="row">
  <div class="col">
    <table id="tablegallery" class="table" style="width:100%">
      <thead>
        <tr>
          <th>รูป</th>
          <th>กิจกรรม</th>
          <!-- <th>ประเภท</th> -->
          <th>วันที่</th>
        </tr>
      </thead>

    </table>

  </div>
</div>
</div>
<style>
  .vd{
    vertical-align: middle;
  }
</style>

<!-- <div id="listingTable"></div>
<a >Prev</a>
page: <span id="page"></span>
<a  >Next</a> -->