<div class="container">


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
            <li class="breadcrumb-item active" aria-current="page">โครงสร้างการบริหาร</li>
        </ol>
    </nav>
    <br>

    <div class="row justify-content-md-center">
        <div class="col-lg-12">
            <img src="images/structure.png" style="height:100%" class="card-img-top"
                alt="images/structure.png">
        </div>
    </div>

</div>

<style>
    .card-text {
        font-size: 0.8rem;
        margin-bottom: 0px;
        text-align: center;

    }

    .card-title {
        font-size: 0.9rem;
        text-align: center;
    }
</style>