<div class="container">


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
        <li class="breadcrumb-item active" aria-current="page">รายนามผู้อำนวยการ</li>
    </ol>
</nav>
<br>

<div class="row justify-content-md-center">
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/director.jpg" style="height:350px" class="card-img-top" alt="images/people/director.jpg">
            <div class="card-body">
                <p class="card-title">นพ.สุนทร อินทพิบูลย์</p>
                <p class="card-text">ผู้อำนวยการโรงพยาบาลสุโขทัย</p>
                <p class="card-text">055-611333 ต่อ 1100</p>
            </div>
        </div>
    </div>
</div>
<div class="m-4"></div>
<div class="row justify-content-md-center">
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people8.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นพ.สุพร กุละพัฒน์</p>
                <p class="card-text">รองผู้อำนวยการ</p>
                <p class="card-text">ฝ่ายการแพทย์</p>
                <p class="card-text">055-611333 ต่อ 5057</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people15.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">พว.อุไรวรรณ จุ้ยต่าย</p>
                <p class="card-text">รองผู้อำนวยการ</p>
                <p class="card-text">ฝ่ายการพยาบาล</p>
                <p class="card-text">055-611333 ต่อ 1303</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people4.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นางรุ่งทิพย์ พงศ์กิจการเจริญ</p>
                <p class="card-text">รองผู้อำนวยการ</p>
                <p class="card-text">ฝ่ายบริหาร</p>
                <p class="card-text">055-611333 ต่อ 1106</p>
            </div>
        </div>
    </div>
</div>
<div class="m-4"></div>
<div class="row justify-content-md-center">
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people10.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นพ.พงศ์กฤช เนียมหุ่น</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านพัฒนาระบบบริการและสนับสนุนบริการสุขภาพ</p>
                <p class="card-text">055-611333 ต่อ 1401</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people5.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">พญ.รตินันทร์ เตชะสืบ</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านบริการปฐมภูมิ</p>
                <p class="card-text">055-611333 ต่อ 1304</p>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people10.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นพ.พงศ์กฤช เนียมหุ่น</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านการเงินและเทคโนโลยีคอมพิวเตอร์</p>
                <p class="card-text">055-611333 ต่อ 5034</p>
            </div>
        </div>
    </div> -->
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people7.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นพ.สมเกียรติ ฉันทวรางค์</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านสวัสดิการเจ้าหน้าที่ CSR</p>
                <p class="card-text">055-697052</p>
            </div>
        </div>
    </div>
</div>
<div class="m-4"></div>
<div class="row justify-content-md-center">
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people8.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นพ.สุพร กุละพัฒน์</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านระบบไกล่เกลี่ยและร้องเรียน</p>
                <p class="card-text">055-611333 ต่อ 5057</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people9.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นพ.ปรีชา ภิญโญพรพาณิชย์</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านการวิเคราะห์ทางด้านการเงินและการบัญชี</p>
                <p class="card-text">055-611333 ต่อ 2501</p>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people10.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นพ.พงศ์กฤช เนียมหุ่น</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านบริหารจัดการความเสี่ยงขององค์กร</p>
                <p class="card-text">055-611333 ต่อ 1401</p>
            </div>
        </div>
    </div> -->
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people11.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นพ.จารุบุตร พิสุทธิ์รัตนาภรณ์</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านพัฒนาคุณภาพ</p>
                <p class="card-text">055-611333 ต่อ 5013</p>
            </div>
        </div>
    </div>
</div>
<div class="m-4"></div>
<div class="row">
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people12.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นพ.ปฐมพงศ์ ชูวิทย์</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านสิ่งแวดล้อมและความปลอดภัย</p>
                <p class="card-text">055-611333 ต่อ 5022</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/demo.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">พญ.ญดา ศุภสิทธิ์</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านกิจกรรมพิเศษต่างๆ</p>
                <p class="card-text">055-611333 ต่อ 2301</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/demo.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">พญ.ญดา ศุภสิทธิ์</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านทรัพยากรบุคคล</p>
                <p class="card-text">055-611333 ต่อ 2301</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card" >
            <img src="images/people/people16.jpg" style="height:350px" class="card-img-top" alt="images/people/people1.jpg">
            <div class="card-body">
                <p class="card-title">นางณินญาภร ใจยอด</p>
                <p class="card-text">ผู้ช่วยผู้อำนวยการ</p>
                <p class="card-text">ด้านการประชาสัมพันธ์</p>
                <p class="card-text">055-611333 ต่อ 1304</p>
            </div>
        </div>
    </div>
   
</div>
</div>

<style>
.card-text{
    font-size: 0.8rem;
    margin-bottom: 0px;
    text-align: center;

}
.card-title{
    font-size: 0.9rem;
    text-align: center;
}
</style>