<div class="container">


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
    <li class="breadcrumb-item active newTitle" aria-current="page">ข่าว</li>
  </ol>
</nav>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h5 class='newTitle' id="newTitle">ข่าว</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-auto">
        <small class="text-muted" id="newsDate"></small>
      </div>
      <div class="col-md-auto">
        <small class="text-muted" id="vnUser"><span style="font-size: 1em;"><i class="far fa-user"></i></span> </small>
      </div>
    </div>
   

    <div class="border"></div>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="border"></div>
    <br>
    <nav class="nav flex-column">
    </nav>
    <ul class="list-group" id="listNews">
    </ul>
  </div>
  <div class="col-md-8 text-center">
    <iframe onload="onMyFrameLoad(this)" id="pdfView" src=""
      style="width:100%; height:700px;" frameborder="0">
    </iframe>
    <div id="spinner" class="spinner-border text-primary m-5" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
</div>

<script>
 $('#spinner').show()
 $('#pdfView').hide()
  function onMyFrameLoad(e) {
    // console.log('onMyFrameLoad ',e);
    let src = $(e).attr('src');
    if(src != ''){
      $('#spinner').hide()
      $('#pdfView').show()
    }
    console.log('src',src);
    
  };
  </script>