<div class="container">


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        วิสัยทัศน์/พันธกิจ
      </li>
    </ol>
  </nav>
  <br />

  <div class="row">
    <div class="col-12 text-center">
        <img src="images/visionmission-0001.jpg" style="height:100%" class="card-img-top" alt="images/visionmission-0001.jpg">
    </div>
  </div>

  <div class="m-5"></div>
  <div class="row">
    <div class="col-12 text-center">
        <img src="images/visionmission-0002.jpg" style="height:100%" class="card-img-top" alt="images/visionmission-0002.jpg">
    </div>
  </div>
  