<div class="container">


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="?page=index">หน้าแรก</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        วิสัยทัศน์/พันธกิจ
      </li>
    </ol>
  </nav>
  <br />
  <div class="row justify-content-md-center">
    <div class="col-lg-2 text-center">
      <h4>วิสัยทัศน์</h4>
      <div class="border"></div>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <p>
        "โรงพยาบาลทั่วไปชั้นนำของเขตสุขภาพที่ 2"
      </p>
    </div>
  </div>

  <div class="m-5"></div>

  <div class="row justify-content-md-center">
    <div class="col-lg-2 text-center">
      <h4>พันธกิจ</h4>
      <div class="border"></div>
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="divider"><span></span></div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
          <p>
            1.พัฒนาบริการสุขภาพที่มีประสิทธิภาพสูงด้วยเทคโนโลยีทันสมัยได้มาตรฐานเชื่อมโยงกับภาคีเครือข่ายเข้าถึงประชาชน
          </p>
          <p>
            2.จัดระบบบริการสุขภาพตติยภูมิและพัฒนาระบบบริหารจัดการทรัพยากรให้มีประสิทธิภาพ
          </p>
          <p>
            3.พัฒนาระบบการเงินการคลังอย่างมีประสิทธิภาพ
          </p>
          <p>
            4.สร้างเสริมสุขภาพบุคลากร ผู้รับบริการและสิ่งแวดล้อมส่งเสริมให้เกิดองค์กรสุขภาวะ
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="m-5"></div>

  <div class="row justify-content-md-center">
    <div class="col-lg-2 text-center">
      <h4>เป้าประสงค์</h4>
      <div class="border"></div>
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="divider"><span></span></div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
          <p>
            1.บริการมีคุณภาพ เพิ่มขีดความสามารถการบริการตามบริบทของพื้นที่
          </p>
          <p>
            2.ระบบบริหารจัดการที่มีประสิทธิผลเชิงประจักษ์
          </p>
          <p>
            3.การเงินการคลังที่มั่นคงและยั่งยืน
          </p>
          <p>
            4.ผู้ให้บริการมีสุขภาวะที่ดี และสิ่งแวดล้อมที่เอื้ออำนวย
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="m-5"></div>

  <div class="row justify-content-md-center">
    <div class="col-lg-2 text-center">
      <h4>ประเด็นกลยุทธ์</h4>
      <div class="border"></div>
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="divider"><span></span></div>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
          <p>
            1.การพัฒนาศักยภาพและคุณภาพการบริการ (Smart Service)
          </p>
          <p>
            2.พัฒนาระบบบริหารจัดการให้มีประสิทธิภาพ (Smart System)
          </p>
          <p>
            3.การพัฒนาการเงินการคลังที่มีประสิทธิภาพ (Smart Finance)
          </p>
          <p>
            4.พัฒนาบุคลากรและสิ่งแวดล้อม (Smart Looking)
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="m-5"></div>



  <div class="row justify-content-md-center">
    <div class="col-lg-6 text-center">
      <h4>ประเด็นกลยุทธ์</h4>
      <div class="border"></div>
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="divider"><span></span></div>
      <div class="row">
        <div class="col-2">
          <p>ประเด็นกลยุทธ์ที่ 1</p>
        </div>
        <div class="col-10">
          <p>
            การพัฒนาศักยภาพและคุณภาพการบริการ (Smart Service)
          </p>
        </div>
        <div class="col-2">
          <p>กลยุทธ์</p>
        </div>
        <div class="col-10">
          <p>
            1.พัฒนาบริการทางการแพทย์ให้มีประสิทธิภาพสูงด้วยเทคโนโลยีที่ทันสมัยได้มาตรฐาน
          </p>
          <p>2.พัฒนาบริการสุขภาพที่ตอบสนองต่อ Health Need</p>
          <p>
            3.พัฒนาระบบบริการปฐมภูมิและเครือข่ายให้เข้มแข็งไร้รอยต่อ
          </p>
          <p>
            4.พัฒนางานคุณภาพตามมาตรฐาน HA
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <p>ประเด็นกลยุทธ์ที่ 2</p>
        </div>
        <div class="col-10">
          <p>
            พัฒนาระบบบริหารจัดการให้มีประสิทธิภาพ (Smart System)
          </p>
        </div>
        <div class="col-2">
          <p>กลยุทธ์</p>
        </div>
        <div class="col-10">
          <p>5.พัฒนาการบริหารจัดการทรัพยากร</p>
          <p>6.พัฒนาบุคลากรให้มีสมรรถนะเฉพาะด้านตามสาขาวิชาชีพ</p>
          <p>7.พัฒนาระบบเทคโนโลยีสารสนเทศให้เกิดประโยชน์สูงสุด </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <p>ประเด็นกลยุทธ์ที่ 3</p>
        </div>
        <div class="col-10">
          <p>
            การพัฒนาการเงินการคลังที่มีประสิทธิภาพ (Smart Finance)
          </p>
        </div>
        <div class="col-2">
          <p>กลยุทธ์</p>
        </div>
        <div class="col-10">
          <p>
            8.การจัดเก็บรายได้ที่ครอบคลุมและครบถ้วน
          </p>
          <p>
            9.การเพิ่มช่องทางของรายได้
          </p>
          <p>
            10.การจัดการด้านรายจ่ายที่เหมาะสม
          </p>
          <p>
            11.การบริหารจัดการด้านการเงินการคลังผ่านการประเมินตามเกณฑ์มาตรฐาน
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-2">
          <p>ประเด็นกลยุทธ์ที่ 4</p>
        </div>
        <div class="col-10">
          <p>
            พัฒนาบุคลากรและสิ่งแวดล้อม (Smart Looking)
          </p>
        </div>
        <div class="col-2">
          <p>กลยุทธ์</p>
        </div>
        <div class="col-10">
          <p>
            12.ส่งเสริมให้บุคลากรมีสุขภาวะที่ดี
          </p>
          <p>
            13.สร้างสิ่งแวดล้อมให้มีความปลอดภัยและสร้างองค์กรให้มีภาพลักษณ์ที่ดี
          </p>
        </div>
      </div>
    </div>
  </div>
</div>